In [12]:
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift

In [13]:
with open('checkins.dat', 'r') as file1:
    with open('checkins-new.dat', 'w') as file2:
        for index, line in enumerate(file1):
            newLine = line.replace(' ','').replace('|', ',')
            if (index != 1):
                file2.write(newLine)
                
data = pd.read_csv('checkins-new.dat').dropna()

C:\Users\oldst\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
print(data.shape)
data.head()

(396634, 6)

        id    user_id  venue_id   latitude   longitude          created_at
1   984222    15824.0    5222.0  38.895112  -77.036366  2012-04-2117:43:47
3   984234    44652.0    5222.0  33.800745  -84.410520  2012-04-2117:43:43
7   984291   105054.0    5222.0  45.523452 -122.676207  2012-04-2117:39:22
9   984318  2146539.0    5222.0  40.764462 -111.904565  2012-04-2117:35:46
10  984232    93870.0  380645.0  33.448377 -112.074037  2012-04-2117:38:18

In [26]:
X = data.drop(['id','user_id', 'venue_id','created_at'],1)
print(X.shape)
X = X[:100000]
print(X.shape)

(396634, 2)
(100000, 2)

In [28]:
%time clustering = MeanShift(bandwidth=0.1).fit(X)

Wall time: 2min 20s

In [75]:
print(clustering.labels_)
print(clustering.labels_.size)
print(clustering.cluster_centers_)
print(clustering.cluster_centers_.shape)
coords = clustering.cluster_centers_
res=np.zeros(3230)
for i in range(100000):
    res[clustering.labels_[i]]+=1
print(res)
print(res.size)
res_2 = res
print(coords)
print(type(coords))
i=0
j=0
for t in range(3230):
    if res[i]<=15:
        res_2 = np.delete(res_2, j)
        coords = np.delete(coords, j, 0)
        j-=1
    i+=1
    j+=1

[ 5  7 30 ... 25 19  4]
100000
[[  40.7177164   -73.99183542]
 [  33.44943805 -112.00213969]
 [  33.44638027 -111.90188756]
 ...
 [  46.7323875  -117.0001651 ]
 [  29.6899563   -95.8996757 ]
 [  31.3787916   -95.3213317 ]]
(3230L, 2L)
[1.2506e+04 4.6920e+03 3.9940e+03 ... 1.0000e+00 1.0000e+00 1.0000e+00]
3230
[[  40.7177164   -73.99183542]
 [  33.44943805 -112.00213969]
 [  33.44638027 -111.90188756]
 ...
 [  46.7323875  -117.0001651 ]
 [  29.6899563   -95.8996757 ]
 [  31.3787916   -95.3213317 ]]
<type 'numpy.ndarray'>

In [76]:
print(clustering.cluster_centers_)
print(clustering.cluster_centers_.shape)
print('-----')
print(coords)
print(coords.shape)
print('-----')
print(res)
print(res.shape)
print('-----')
print(res_2)
print(res_2.shape)

[[  40.7177164   -73.99183542]
 [  33.44943805 -112.00213969]
 [  33.44638027 -111.90188756]
 ...
 [  46.7323875  -117.0001651 ]
 [  29.6899563   -95.8996757 ]
 [  31.3787916   -95.3213317 ]]
(3230L, 2L)
-----
[[  40.7177164   -73.99183542]
 [  33.44943805 -112.00213969]
 [  33.44638027 -111.90188756]
 ...
 [  41.61853175  -88.44556818]
 [  38.65877915  -76.8856871 ]
 [  39.2494686   -77.1821271 ]]
(593L, 2L)
-----
[1.2506e+04 4.6920e+03 3.9940e+03 ... 1.0000e+00 1.0000e+00 1.0000e+00]
(3230L,)
-----
[12506.  4692.  3994.  3363.  3526.  2409.  2297.  1601.  1526.  1378.
  1298.  1081.  1006.  1007.   714.   868.   870.   645.   808.   807.
   612.   722.   754.   747.   539.   656.   580.   577.   679.   564.
   594.   907.   449.   502.   452.   104.   431.   410.   388.   400.
   369.   367.   384.   347.   345.   342.   314.   273.   314.   316.
   355.   281.   336.   293.   271.   246.   263.   258.   254.   243.
   229.   291.   182.   155.   137.   193.   186.   197.   196.   189.
   191.   187.   203.   178.   192.   169.   173.   153.   157.   199.
   220.   164.   162.   155.   126.   152.    56.   100.   141.   142.
   190.   117.   138.   133.   135.   131.   134.   122.   130.   109.
   132.   135.   135.   120.   119.   116.   110.    91.   114.   114.
    79.    98.   112.    74.   110.    67.   126.   106.   110.    74.
   103.   102.   101.   100.    85.    99.    72.    99.   118.    95.
    98.    84.    27.    99.    95.    97.    97.    92.    91.   103.
    71.    95.    87.    99.    95.    33.    85.    65.   121.    78.
    83.    81.    79.   101.    79.    61.    79.    78.    42.    84.
    78.    68.    57.    63.    76.    74.    80.    76.    52.    56.
    74.    74.    74.    73.    51.    71.    76.    77.    69.    78.
    69.    69.    44.    68.    68.    52.    67.    67.    66.    66.
    65.    53.    59.    64.    36.    63.    63.    54.    63.    62.
    84.    43.    61.    61.    61.    61.    60.    58.    50.    56.
    24.    46.    58.    58.    57.    58.    57.    56.    56.    48.
    56.    56.    57.    42.    55.    38.    37.    82.    51.    37.
    53.    54.    53.   134.    52.    52.    58.    50.    50.    38.
    42.    44.    51.    52.    50.    50.    50.    50.    50.    36.
    49.    49.    52.    48.    49.    44.    46.    50.    58.    47.
    38.    44.    47.    49.    46.    46.    38.    49.    46.    40.
    44.    45.    49.    43.    45.    45.    45.    45.    45.    44.
    43.    40.    32.    16.    45.    37.    43.    36.    42.    42.
    45.    42.    44.    47.    42.    51.    41.    41.    41.    40.
    40.    40.    33.    40.    59.    53.    41.    39.    37.    30.
    39.    35.    24.    38.    38.    38.    32.    38.    38.    59.
    42.    35.    41.    37.    35.    37.    36.    36.    43.    36.
    38.    36.    37.    33.    24.    35.    35.    35.    34.    34.
    44.    27.    33.    34.    34.    34.    34.    35.    37.    35.
    33.    33.    37.    33.    33.    27.    31.    33.    42.    21.
    32.    32.    32.    37.    46.    32.    37.    32.    32.    31.
    31.    31.    31.    31.    28.    31.    28.    25.    37.    31.
    31.    31.    17.    25.    30.    34.    30.    28.    32.    32.
    27.    64.    29.    32.    29.    29.    29.    16.    29.    29.
    29.    28.    28.    28.    28.    25.    24.    28.    28.    28.
    28.    29.    28.    28.    28.    28.    26.    28.    27.    27.
    27.    26.    27.    27.    27.    27.    27.    28.    27.    27.
    27.    26.    23.    27.    26.    26.    27.    26.    28.    25.
    26.    26.    29.    24.    26.    26.    25.    16.    26.    25.
    19.    23.    24.    24.    25.    24.    24.    24.    24.    20.
    24.    26.    21.    32.    22.    24.    23.    23.    21.    23.
    23.    23.    23.    23.    23.    24.    20.    23.    23.    23.
    22.    22.    23.    21.    22.    22.    24.    22.    29.    22.
    22.    22.    22.    22.    22.    22.    21.    21.    17.    21.
    21.    21.    21.    21.    21.    21.    31.    17.    20.    20.
    20.    20.    20.    20.    19.    20.    20.    19.    23.    19.
    21.    19.    18.    18.    19.    19.    19.    19.    19.    19.
    21.    19.    19.    19.    18.    27.    18.    21.    18.    18.
    18.    18.    18.    18.    18.    18.    18.    18.    18.    18.
    18.    17.    17.    17.    17.    17.    17.    17.    17.    17.
    17.    17.    17.    17.    16.    16.    16.    16.    16.    16.
    16.    16.    16.    26.    19.    16.    16.    16.    16.    16.
    19.    16.    22.    16.    17.    18.    16.    16.    19.    26.
    23.    19.    21.]
(593L,)

In [33]:
offices = np.array([[33.751277, -118.188740], [25.867736, -80.324116], [51.503016, -0.075479], [52.378894, 4.885084], [39.366487, 117.036146], [-33.868457, 151.205134]])
print(offices)

[[ 3.37512770e+01 -1.18188740e+02]
 [ 2.58677360e+01 -8.03241160e+01]
 [ 5.15030160e+01 -7.54790000e-02]
 [ 5.23788940e+01  4.88508400e+00]
 [ 3.93664870e+01  1.17036146e+02]
 [-3.38684570e+01  1.51205134e+02]]

In [83]:
k=0
res_3=np.zeros(3558)
for i in range(6):
    for j in range(593):
        if k == 3375:
            total = coords[j]
        res_3[k] = np.sqrt((offices[i][0]-coords[j][0])**2+(offices[i][1]-coords[j][1])**2)
        k+=1
print(res_3)
print(res_3.shape)

[ 44.74257092   6.19395917   6.29424146 ... 251.2583223  239.34415107
 239.80611351]
(3558L,)

In [84]:
np.amin(res_3)
index = np.where(res_3 == np.amin(res_3))
print(index)
print(total)

(array([3375], dtype=int64),)
[-33.86063043 151.20477593]