In [1]:
import pandas as pd
import numpy as np

In [5]:
illiteracy = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)

In [6]:
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [10]:
illiteracy = illiteracy.drop('Country', axis = 1)

In [15]:
illiteracy.corr(method = 'pearson')

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [22]:
round(illiteracy.corr(method = 'pearson').values[0][1], 4)

0.7687

In [17]:
illiteracy.corr(method = 'spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [23]:
round(illiteracy.corr(method = 'spearman').values[0][1], 4)

0.753