In [1]:
import pandas as pd
import numpy as np

In [2]:
water = pd.read_csv('water2.txt', sep = '\t', header = 0)

In [3]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [4]:
water_task_1 = water.drop(columns = ['location', 'town'], axis = 1)

In [7]:
round(water_task_1.corr(method = 'pearson').values[0][1], 4)

-0.6548

In [8]:
water_task_1.corr(method = 'spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [9]:
round(water_task_1.corr(method = 'spearman').values[0][1], 4)

-0.6317

In [12]:
water_task_3_north = water[water.location == 'North'].drop(columns = ['location', 'town'], axis = 1)
water_task_3_south = water[water.location == 'South'].drop(columns = ['location', 'town'], axis = 1)

In [88]:
pirson_north = round(water_task_3_north.corr(method = 'pearson').values[0][1], 4)
pirson_south = round(water_task_3_south.corr(method = 'pearson').values[0][1], 4)

In [89]:
if abs(pirson_north)==abs(pirson_south):
    print('They are equal:', abs(pirson_north))
if abs(pirson_north) > abs(pirson_south):
    print('The south are less', abs(pirson_south))
else:
    print('The north are less. Abs:', abs(pirson_north), 'Real:', pirson_north)

('The north are less. Abs:', 0.3686, 'Real:', -0.3686)

In [ ]:
#3 -0.3686

Matthews correlation coefficient

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [19]:
from sklearn.metrics import matthews_corrcoef

In [69]:
import math
def mcc(a, b, c, d):
    mcc = (a*d - b*c) / math.sqrt((a + b)*(a + c)*(b + d)*(c + d))
    return mcc

# fre/sex    m(t)    g(f)
    o(p)      239(a) 203(b) 
    r(n)      515(c) 718(d)

In [70]:
table = [[239, 203],
        [515, 718]]

In [83]:
round(mcc(239, 203, 515, 718), 4)

0.109

In [ ]:
#4 0.109

In [75]:
men_1 = np.array([])
for i in range(239):
    men_1 = np.append(men_1, 1)
for i in range(515):
    men_1 = np.append(men_1, 0)
women_1 = np.array([])
for i in range(203):
    women_1 = np.append(women_1, 1)
for i in range(718):
    women_1 = np.append(women_1, 0)

In [ ]:
#Matthews

In [55]:
import scipy

In [28]:
scipy.stats.chi2_contingency(table)

(19.40753078854304,
 1.0558987006638725e-05,
 1L,
 array([[198.96597015, 243.03402985],
        [555.03402985, 677.96597015]]))

In [76]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [80]:
print "95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(men_1, women_1)

95% confidence interval for a difference between proportions: [0.053905, 0.139222]

In [ ]:
#6 0.0539 or -0.1392

$H_0$: Доли мужчин и женщин любящих проводить часто вечера в баре равны.

$H_1$: Доли мужчин и женщин любящих проводить часто вечера в баре НЕ равны.

In [72]:
def proportions_diff_z_stat_ind():
    n1 = (203.0+718.0)
    n2 = (239.0+515.0)
    
    p1 = 203.0 / (203.0+718.0)
    p2 =  239.0 / (239.0+515.0)
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [73]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [74]:
print "95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(data.banner_a, data.banner_b)

p-value: 0.000008

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"
	               Не доволен	Более или менее	  Доволен
Не очень счастлив	 197	          111	        33
Достаточно счастлив	 382	          685	        331
Очень счастлив	     110	          342	        333

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [90]:
table = [[197, 111, 33],
        [382, 685, 331],
        [110, 342, 333]]

In [91]:
scipy.stats.chi2_contingency(table)

(293.68311039689746,
 2.4964299580093467e-62,
 4L,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [104]:
math.sqrt((scipy.stats.chi2_contingency(table)[0])/(2524*(3-1)))

0.2412013934500338

In [45]:
#3, 4, 6, 10

In [103]:
sum([sum(table[0]), sum(table[1]), sum(table[2])])

2524